.chat-block {
    min-height: 50px;
    display: flex;
    width: 100%;
    align-items: center;
    gap: 8px;
    margin-bottom: 15px;
    flex-shrink: 0;
}

.chat-block-content {
    min-height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #F37199;
    color: white;
    font-family: "Poppins", sans-serif;
    border-radius: 10px;
}

.from-icon-block {
    height: 50px;
    width: 50px;
    border-style: solid;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E53888;
    color: white;
    flex-shrink: 0;
}