.feature-header-block {
    height: 80px;
    width: 100%;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Poppins", sans-serif;
    padding-left: 20px;
    padding-right: 20px;
    color: #E53888;
    flex-shrink: 0;
}

.feature-header-block h1 {
    font-weight: 550;
    font-size: 25px;
}